@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #ffffff !important;
  color: #18181b;
}

body {
  background-color: #ffffff !important;
  color: #18181b;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.dir-rtl {
  direction: rtl;
  text-align: right;
}
